{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form id="login-form" action="{% url 'login' %}", method="post">
            {% csrf_token %}
            <input type="text" name="wedding_id" placeholder="Wedding ID" required>
            <input type="password" name="pw" placeholder="Password" required>
            <input type="submit" id="button" value="Login">
        </form>
        <a href="{% url 'register' %}"><button>Register</button></a>
        {% if messages %}
            {% for message in messages %}
            <script>
                alert("{{ message.message }}")
            </script>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>