{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div class="register-wrapper">
        <h2>Register</h2>
        <form id="register-form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Wedding</h3>
            <hr>
            <p class="info-sentence">Wedding 필드에 있는 정보는 모두 입력해주셔야 합니다.</p>
            <p class="info-sentence">ID가 test인 경우 모바일 청첩장 주소는 https://www.wedding.com/test 입니다.</p>
            <div class="section" id="wedding">
                <table>
                    <tr>
                        <td>
                            <label>ID</label>
                        </td>
                        <td>
                            <input type="text" name="wedding_id" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Passwd</label>
                        </td>
                        <td>
                            <input type="password" name="passwd" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>신랑 이름</label>
                        </td>
                        <td>
                            <input type="text" name="groom_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>신랑 전화번호</label>
                        </td>
                        <td>
                            <input type="text" name="groom_phone" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>신부 이름</label>
                        </td>
                        <td>
                            <input type="text" name="bride_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>신부 전화번호</label>
                        </td>
                        <td>
                            <input type="text" name="bride_phone" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Date</label>
                        </td>
                        <td>
                            <input type="date" name="wedding_date" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Time</label>
                        </td>
                        <td>
                            <input type="text" name="wedding_time" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>방명록 사용 여부</label>
                        </td>
                        <td>
                            <input type="checkbox" name="user_guestbook">
                        </td>
                    </tr>
                </table>
            </div>
            <input name="write-button" type="submit" role="button" id="register-button" value="Register" />
        </form>
        <a href="{% url 'login' %}"><button>Login</button></a>

        {% if messages %}
            {% for message in messages %}
            <script>
                alert("{{ message.message }}")
            </script>
            {% endfor %}
        {% endif %}
    </div>
</body>

</html>